:root {
  --blue: #0099ff;
  --indigo: #3300ff;
  --purple: #6600ff;
  --pink: #ff66cc;
  --red: #cc0033;
  --green:#33cc33;
  --cyan: #33efef;
  --white: #fcfcfc;
  --gray: #9c9c9c;
  --gray-dark: #3f3f3f;
  --primary: #3366ff;
  --secondary: #ff3366;
  --success: #33cc33;
  --info: #00ccff;
  --warning: #ffcc33;
  --danger: #ff0033;
  --light: #F6F6F6;
  --dark: #121212;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-display: 'Vollkorn', serif;
  --font-family-sans-serif: 'Open Sans',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --base-fontsize: 1rem;
  --header-fontsize: calc(var(--base-fontsize) / .32);
  --base-margin: 1rem;
  --base-padding: .25rem .5rem;
}

